.titleTypo {
    font-size: xx-large;
    font-weight: bold;
}

.guildSelectContainer {
    margin: 1rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media (max-width: 768px) {
    .titleTypo {
        text-align: center;
    }
    .guildSelectContainer {
        display: block
    }
}