@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1f21;
  --navbar: #28292d;
  --button: #fff;
}

body {
  background: var(--background);
  padding: 1rem;
  transition: background 1s;
  color: #FFFFFF;
  font-family: 'Noto Sans KR', sans-serif;
}

.container {
  margin-top: 1rem;
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}