.shardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 1rem;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .shardContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

.totalContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--accent-1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.totalContainer > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.totalContainer > li > svg {
    margin-right: 0.5rem;
}

.titleTypo {
    font-size: xx-large;
    font-weight: bold;
}

.totalTypo {
    font-size: 1.4rem
}

@media (max-width: 600px) {
    .totalContainer {
        flex-direction: column;
        gap: 0.25rem;
    }
}